<div class="gird-explanatory">
  <div>
    <h1>Como nosso corpo funciona?</h1>
    <p>
      Nosso corpo gasta diariamente uma quantidade de calorias, a quantidade de
      calorias que o seu corpo gasta pode varias de acordo com vários fatores
      como: altura, sexo, peso atual e principalmente pelo nível de atividade
      física do seu dia.
    </p>
    <h3>Exemplo</h3>
    <p>
      Uma pessoa que gasta 2000kcl por dia caso queira perder peso devera
      consumir uma quantidade menor para que ocorra o déficit calórico com isso
      conseguimos perder peso, caso o objetivo seja aumentar o peso a pessoa
      deve consumir diariamente uma quantidade maior do que gasta, assim terá
      uma sobra de nutrientes que podem ser convertida em gordura ou em massa
      magra, dependendo das atividades da pessoa. <br /><br /><img
        class="img"
        src="../assets/dadosImg.png"
        alt="imagem ilustrativa que demostra um pouco como funciona o corpo humano"
      />
    </p>
  </div>
  <div>
    <h1>NutriScript</h1>
    <p>
      A calculadora NutriScript tem como o objetivo principal ajudar na hora de
      calcular os macros nutrientes da sua dieta de acordo com o seu objetivo
      que é muito utilizada na dieta flexível, que é uma ótima escolha para quem
      quer tem uma evolução solida e continua, porque conseguimos alinhar
      diversos alimentos durante o dia a dia por que os eu foco são as calorias
      e micronutrientes
    </p>
  </div>
</div>
