.gird-explanatory {
    color: #fff;
    margin-top: 45px;
    max-width: 1090px;
    display: grid;
    grid-template-columns: repeat(max(2), minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;

    @media (max-width: 768px) {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    p {
        max-width: 500px;
        font-size: 16px;
        text-align: justify;
    }

    img {
        max-width: 100%;
    }

    h1,
    h3 {
        color: #fff;
        font-weight: 500;
    }

    label {
        margin-right: 10px;
    }
}

@media (max-width: 768px) {

    .gird-explanatory {
        grid-template-columns: repeat(max(1), minmax(300px, 1fr));
    }
}