.wrapper {
  background-image: linear-gradient(9190deg, #ff997a, #fcb6a1);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.bar-style {
  width: 100%;
  height: 25px;
  margin-bottom: 10px;
  background: #fcb6a1;
}

.menu {
  background-image: url("../assets/imageCap.png");
  max-width: 100%;
  background-size: 100%;
  background-position: center;
  height: calc(100vh - 3rem);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
}

.menu--nav {
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    font-weight: bold;
    cursor: default;
    color: #fff;
  }
}

.nav--buttons {
  display: flex;

}


.white {
  color: white;
}

.input-border {
  border: 0.3px solid rgba(0, 0, 0, 0);
}

.input-invalid {
  border: 0.3px solid rgb(255, 66, 66) !important
}

.mr-button {
  margin-left: 10px;
}


.button-nav {
  padding: 10px;
  width: 230px;
  border: 0;
  border-radius: 2px;
  background-color: tomato;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: 0.3s;

  span {
    font-weight: bold;
    color: #fff;
    transition: 0.3s;
  }

  @media (max-width: 768px) {
    width: 190px;
  }
}

.button-nav:hover {
  transform: scale(1.03, 1.03);
  transition: 0.3s;

  span {
    font-weight: bold;
    transition: 0.3s;
    color: rgb(230, 230, 230);
  }
}


.center-item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.result-macros {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}


.calculator {
  height: 620px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator--wrapper {
  background-color: #ededed;
  height: 100%;
  max-width: 500px;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 4px 4px 0px 0px;
}

.calculator--wrapper-full {
  max-width: 1096px;
}

.calculator--header {
  background-color: #b1b1b1;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 4px 4px 0px 0px;
  align-items: center;
  padding-top: 6px;
  display: flex;
}


.header--item {
  width: 13px;
  margin-left: 10px;
  top: 10px;
  height: 13px;
  border-radius: 50%;
}

.body--navigation {
  ul {
    display: flex;

    li {
      background-color: #b1b1b185;
      padding: 2px;
      cursor: pointer;
      color: #fff;
      border-right: 0.4px solid #b3b3b3;
      border-bottom: 0.4px solid #b3b3b3;
      border-radius: 2px;
      width: 200px;
      transition: 0.3s;

    }
  }
}

.form-input {
  display: flex;
  flex-direction: column;

  input {
    border: 0.3px solid rgba(0, 0, 0, 0);

    border-radius: 4px;
  }

  select {
    border: 0;
    border-radius: 4px;
  }

}

.activity {
  background-color: #ededed !important;
  color: #b1b1b1d3 !important;
  border-bottom: 0 !important;
  transition: 0.3s;
}

.body--content {
  padding: 2%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.body--content-full {
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 726) {}

.red {
  margin-bottom: 5px;
  background-color: #ff6259;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
}

.green {
  margin-bottom: 5px;
  background-color: #50fc6a;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
}

.yellow {
  margin-bottom: 5px;
  background-color: #ffca4f;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
}

.icon-radio {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 0.3px solid #7a7a7a85;
  background-color: #b1b1b185;
}

.icon-radio-selected {
  background-color: #02b17785;
}

.nutrition-config {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 40px;
}

.nutrition-item {
  display: flex;
  flex-direction: column;


  input {
    border: 0;
    border-radius: 4px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
  }

}

.nutrition-controler {
  display: flex;
  flex-direction: column;



  span {
    cursor: pointer;
    height: 15px;
    width: 20px;
    border: 0.3px solid #7a7a7a85;
    background-color: #b1b1b185;
  }
}

.nutrition-input {
  width: 30px;
}

.result {
  display: grid;
  align-items: center;
  width: 100%;
}

.result--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.item--score {
  font-size: 24px
}

@media (max-width: 768px) {
  .nav--buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }

  .mr-button {
    margin-top: 15px;
    margin-left: 0;
  }


  .img {
    width: 320px;
  }

  .body--content {
    grid-template-columns: 1fr;
    height: fit-content
  }

  .calculator {
    height: fit-content;
  }

  .mt-mobile {
    margin-top: 10px
  }

}