.body-footer {
    width: 100%;
    height: 140px;
    background: #ff997a;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
}

.line {
    color: aliceblue;
    border-bottom: 0.5px solid white;
    margin-bottom: 20px;
}