@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    scroll-behavior: smooth;
}

html,
body,
#root {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}



a {
    text-decoration: nome;
}

ul {
    list-style: nome;
}

button {
    cursor: pointer;
}

.margin-top {
    margin-top: 6px;
}

.d-flex {
    display: flex;
}

.algin-item-center {
    align-items: center;
    justify-content: center;
}

.margin-left {
    margin-left: 5px;
}


.margin-top {
    margin-top: 15px;
}

.margin-botton-auto {
    margin-bottom: auto
}

.cursor-pointer {
    cursor: pointer;
}

.default-button {
    width: 200px;
    border: 0;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    transition: 0.3px;
    background-color: #ff997a;
}

.default-button:active {
    transition: 0.3px;
    background-color: #f8c3b3;
}

.default-button:hover {
    transition: 0.3px;
    background-color: #fd7c55;
}

.margin-top-auto {
    margin-top: auto;
}

.flex-column {
    flex-direction: column;
}

.center-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title--color {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 16px;
}